header.header.page__cover
        img(src="../../images/logo.svg").header__logo
        ul.header__links
          li: a(href="#"
              class="header__lang-link header__lang-link_active"
              target="_self") RU
          li: a(href="#" class="header__lang-link" target="_self") EN
