.cover__subtitle {
  max-width: 360px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 245px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media (max-width: 560px) {
  .cover__subtitle {
    padding-bottom: 33px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
