doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="../pages/index.css" rel="stylesheet")
    title Путешествия по России
  body.root
    .page
      //- block header
    include includes/_header.pug
    include includes/_main.pug
    include includes/_footer.pug
