section.cover.page__cover
  a.cover__link(
    href="https://stampsy.com/na-elektrichkakh-do-baikala"
    target="_blank"
    )
    h2.cover__title До&nbsp;Байкала «на&nbsp;собаках»
    p.cover__subtitle По&nbsp;мотивам учебной темы о&nbsp;Транссибе&nbsp;&mdash;
      | путешествие от&nbsp;столицы до&nbsp;Байкала на&nbsp;электричках.

