mixin intro(intro_list)
  ul.intro__lists
    each item in intro_list
      li.intro__list #{item.text}
        span.intro__numbers  #{item.number}

section.intro.page__section
  h2.intro__title Чего мы там не видели?
  p.intro__text По&nbsp;опросам ВЦИОМ, 95% россиян мечтают куда-нибудь поехать,
    | но&nbsp;только&nbsp;36% планируют провести отпуск в&nbsp;родной
    | стране. Мол, чего мы&nbsp;тут, дома, не&nbsp;видели? На&nbsp;самом
    | деле, Россия&nbsp;&mdash; это целая вселенная с&nbsp;ласковым морем
    | юга, густыми лесами Саян и&nbsp;суровыми льдами плато Путорана.
    | А&nbsp;ещё увидеть все эти красоты можно без миллионов
    | на&nbsp;счету, загранпаспорта и&nbsp;многочасовых перелетов. Как,
    | например, Вера Башмакова&nbsp;&mdash; смелая молодая мама, которая
    | взяла в&nbsp;охапку троих детей, усадила их&nbsp;в&nbsp;свою
    | &laquo;Ладу&raquo; и&nbsp;проехала 20&nbsp;тысяч километров
    | по&nbsp;родной стране. Мы&nbsp;выбрали и&nbsp;описали некоторые
    | интересные места, достойные вашего отпуска.

  +intro([{"text": "Часовых поясов", "number":"11"}, {"text": "Объектов природного наследия ЮНЕСКО", "number":"12"},{"text": "Объектов культурного наследия ЮНЕСКО", "number":"16"},{"text": "Природных заповедников", "number":"105"},{"text": "Аэропортов", "number":"241"}])


