section.lead.page__section
  h1.lead__title Путешествия по России
  p.lead__subtitle Настоящая страна не в выпусках новостей, а здесь.
  img.lead__image(
    src="../../images/lead-polka.jpg"
    alt="Фото. Боковая полка"
    )
  p.lead__caption ваша полка — верхняя
