include ../config.pug

section.places.page__section
  article.place
  h2.place__title Куршская&ensp;коса
  div.place__website
    p.place__url-heading url
    a.place__link(href = "http://park-kosa.ru" target="_blank") park-kosa.ru
  img.place__image(src = path+"place-kosa.jpg" alt="Фото Куршского залива")
