include ../config.pug

mixin place(place_list)

    each item in place_list
      div.place__website
        p.place__url-heading url
        a.place__link(href = item.link target="_blank") #{ item.nameLink }
      img.place__image(src = path+item.imgPath alt=item.alt)
      div.place__paragraphs
        if block
            block

section.places.page__section
  article.place
    h2.place__title Куршская&ensp;коса
    +place([{"link" : "http://park-kosa.ru", "nameLink" : "park-kosa.ru", "imgPath" : "place-kosa.jpg", "alt" : "Фото Куршского залива"}])
      p.place__paragraph
        | Здесь, посреди лесов и&nbsp;песчаных дюн, вы&nbsp;сможете
        |  увидеть два водных горизонта&nbsp;&mdash; спокойного Куршского
        |  залива с&nbsp;одной стороны и подёрнутого рябью волн Балтийского
        |  российского анклава.
      p.place__paragraph На&nbsp;этом Калининградская область не&nbsp;
        |  заканчивается. Для
        |  путешественника и&nbsp;исследователя там&nbsp;же
        |  по&nbsp;соседству&nbsp;&mdash; самая западная точка России,
        |  Балтийская коса,&nbsp;&mdash; и&nbsp;немецкое наследие россыпи
        |  небольших приморских городов. Атмосфера здешних мест исключает
        |  суету, окуная в&nbsp;спокойствие природы и&nbsp;запах стального,
        |  прохладного моря.

  article.place
    h2.place__title Кольский
    +place([{"link" : "https://yourshot.nationalgeographic.com/photos/?keywords=kolskiy", "nameLink" : "National Geographic", "imgPath" : "place-kolsky.jpg", "alt" : "Фото Кольский полуостров"}])
      p.place__paragraph
        | Почти весь полуостров находится за&nbsp;Полярным кругом.
        | Саамская тундра, от&nbsp;которой на&nbsp;юг&nbsp;&mdash; тайга,
        | а&nbsp;на&nbsp;север&nbsp;&mdash; Ледовитый океан,
        | прикидывающийся Баренцевым морем.
      p.place__paragraph
        | Возможно, вы&nbsp;смотрели Звягинцева и&nbsp;даже слышали
        | историю арктического фестиваля в&nbsp;Териберке. Возможно, слово
        | &laquo;Хибины&raquo; не&nbsp;осталось под снегом школьных
        | воспоминаний об&nbsp;уроках географии. Возможно,
        | вы&nbsp;не&nbsp;интересовались пронизывающей земную кору
        | верхглубокой скважиной, а&nbsp;от&nbsp;апатитов вас давно
        | накрывает апатия. Но&nbsp;ваша мечта увидеть северное сияние
        | начинает сбываться с&nbsp;билетом в&nbsp;Мурманск.

  article.place
    h2.place__title Алтай
    +place([{"link" : "https://www.facebook.com/vera.bashmakova/posts/10156011613718822", "nameLink" : "Facebook", "imgPath" : "place-altai.jpg", "alt" : "Фото. Лес Алтая"}])
      p.place__paragraph
        | Алтай&nbsp;&mdash; одно из&nbsp;красивейших мест в&nbsp;России.
        | В&nbsp;первую очередь из-за гор: если ехать вдоль хребта,
        | вы&nbsp;увидите склоны, усыпанные соснами, горные реки
        | и&nbsp;озёра. А&nbsp;если вы&nbsp;откроете в&nbsp;автомобиле
        | окна, сможете познакомиться с&nbsp;невидимым чудом здешних мест
        | &mdash; горным воздухом.
      p.place__paragraph
        | Климат на&nbsp;Алтае умеренный, поэтому ехать сюда лучше всего
        | летом. Так вы&nbsp;увидите всё разнообразие местной флоры
        | и&nbsp;фауны. По&nbsp;лесам Алтая бродят лоси, над хребтами
        | летают орлы, а&nbsp;на&nbsp;равнинах пасутся косули.
        | И&nbsp;знаменитые манулы&nbsp;&mdash; тоже обитатели Алтайского
        | края.

  article.place
    h2.place__title Зимний Байкал
    +place([{"link" : "https://vk.com/baikalmile", "nameLink" : "https://vk.com/baikalmile", "imgPath" : "place-winter-baikal.jpg", "alt" : "Фото. Лед оз. Байкал"}])
      p.place__paragraph
        | Всем известен Байкал как крупнейшее озеро в&nbsp;мире. Многие
        | также знают, что это самый большой источник пресной воды
        | и&nbsp;одно из красивейших мест в&nbsp;России.
      p.place__paragraph
        | Конечно, это всё так. Но&nbsp;Байкал ещё идеальное место для
        | соревнований по&nbsp;скийорингу. Это такой вид спорта, когда
        | лыжник привязывает себя к&nbsp;мотоциклу, и&nbsp;тандем
        | старается развить как можно б&oacute;льшую скорость
        | на&nbsp;льду. В&nbsp;марте 2019 года на фестивале
        | &laquo;Байкальская миля&raquo; был поставлен мировой
        | рекорд&nbsp;&mdash; 197.011&nbsp;км/ч.

  article.place
    h2.place__title Карелия
    +place([{"link" : "http://vodlozero.ru", "nameLink" : "http://vodlozero.ru/", "imgPath" : "place-karelia.jpg", "alt" : "Фото Карельский лес."}])
      p.place__paragraph
        | Сибирь заканчивается не&nbsp;на&nbsp;Урале,
        | а&nbsp;в&nbsp;Карелии: образующая тайгу сибирская лиственница
        | не&nbsp;растёт западнее Водлозера. Зато здесь она вымахивает
        | на&nbsp;30&nbsp;метров&nbsp;&mdash; леса карельских национальных
        | парков из-за непроходимых болот никогда не&nbsp;знали топора.
        | Некоторым соснам уже больше чем полтысячелетия. Прикоснитесь к
        | живому существу, видевшему солнце раньше, чем увидал его Иван
        | Грозный. В&nbsp;девственном лесу на&nbsp;сотню километров
        | не&nbsp;встретишь тропы. А&nbsp;на&nbsp;редких тропинках деревья
        | в&nbsp;паре метров от&nbsp;земли помечены медвежьими когтями.
        | Чтобы все знали, кто тут хозяин.
