.footer {
  justify-content: space-between;
  display: flex;
  padding-bottom: 24px;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 560px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .footer {
    display: grid;
    grid-row-gap: 48px;
    padding-top: 64px;
    text-align: start;
  }
}
