.place__website {
  max-width: 456px;
  margin: auto 0 0;
}

@media (max-width: 768px) {
  .place__website {
    max-width: 288px;
  }
}

@media (max-width: 560px) {
  .place__website {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .place__website {
    margin-left: 16px;
  }
}
